.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 20rem;
  background: #fff;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transition: all .1s ease-in-out;
}

.modal-open {
  opacity: 1;
}

.modal-close {
  opacity: 0;
  transform: scale(0);
}