:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertinary-light: #2998ff;
  --color-tertinary-dark: #5643fa;

  --color-white: #fff;
  --color-black: #000;
  --color-text-primary: #777; 

  /* backgroud color for section */
  --color-light-grey: #f7f7f7;
  --color-grey-light: #eee;

  /* Fonts */
  --default-font-size: 1.6rem;
}